.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog__list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.catalog li {
    width: 22%;
}
.catalog__filter {
    display: flex;
    gap: 10px;
}